USE [master]
GO

CREATE DATABASE [CustomerManagementSystem]


CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 13-01-2026 16:53:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[CountryID] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13-01-2026 16:53:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (1, N'United States')
INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (2, N'United Kingdom')
INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (3, N'India')
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [Phone], [CountryID], [IsActive], [CreatedAt]) VALUES (1, N'John', N'Doys', N'Subham122@gmail.com', N'9123445788', 5, 1, CAST(N'2026-01-12T19:02:17.230' AS DateTime))
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [Phone], [CountryID], [IsActive], [CreatedAt]) VALUES (2, N'Jane', N'Smith', N'jane.smith@business.uk', N'9123456786', 3, 1, CAST(N'2026-01-12T19:02:17.230' AS DateTime))
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [Phone], [CountryID], [IsActive], [CreatedAt]) VALUES (3, N'Amit', N'Sharma', N'amit.s@techindia.in', N'9988776655', 5, 1, CAST(N'2026-01-12T19:02:17.230' AS DateTime))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Role]) VALUES (1, N'admin_test', N'MgZBasrtzI2ObkgRwmvNbQ==:q1EOHfdrXwn7XG2S5Blr2VseOtvYnJlu8amAPvd2vuc=', N'Admin')
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Role]) VALUES (2, N'staff_test', N'MgZBasrtzI2ObkgRwmvNbQ==:q1EOHfdrXwn7XG2S5Blr2VseOtvYnJlu8amAPvd2vuc=', N'User')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__A9D1053426BD8DB8]    Script Date: 13-01-2026 16:53:12 ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4B705C480]    Script Date: 13-01-2026 16:53:12 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Countries] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Countries]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCustomer]    Script Date: 13-01-2026 16:53:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteCustomer]
    @CustomerID INT
AS
BEGIN
    UPDATE Customers
    SET IsActive = 0
    WHERE CustomerID = @CustomerID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCustomerReport]    Script Date: 13-01-2026 16:53:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCustomerReport]
    @Search NVARCHAR(100) = NULL,
    @PageNumber INT = 1,
    @PageSize INT = 10
AS
BEGIN
    SELECT
        c.CustomerID,
        c.FirstName,
        c.LastName,
        c.Email,
        c.Phone,
        co.CountryName,
        c.CreatedAt,
        c.IsActive
    FROM Customers c
    LEFT JOIN Countries co ON c.CountryID = co.CountryID
    WHERE
        c.IsActive = 1
        AND (@Search IS NULL
             OR c.FirstName LIKE '%' + @Search + '%'
             OR c.LastName LIKE '%' + @Search + '%'
             OR c.Email LIKE '%' + @Search + '%')
    ORDER BY c.CreatedAt DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertCustomer]    Script Date: 13-01-2026 16:53:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertCustomer]
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Email NVARCHAR(100),
    @Phone NVARCHAR(20),
    @CountryID INT,
    @ResultMessage NVARCHAR(200) OUTPUT
AS
BEGIN
 IF EXISTS (SELECT 1 FROM Customers WHERE Email = @Email)
    BEGIN
        SET @ResultMessage = 'Email already exists'
        RETURN
    END

    INSERT INTO Customers (FirstName, LastName, Email, Phone, CountryID)
    VALUES (@FirstName, @LastName, @Email, @Phone, @CountryID);

    SET @ResultMessage = 'Success'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCustomer]    Script Date: 13-01-2026 16:53:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateCustomer]
    @CustomerID INT,
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Email NVARCHAR(100),
    @Phone NVARCHAR(20),
    @CountryID INT
AS
BEGIN
    UPDATE Customers
    SET
        FirstName = @FirstName,
        LastName = @LastName,
        Email=@Email,
        Phone = @Phone,
        CountryID = @CountryID
    WHERE CustomerID = @CustomerID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidateUser]    Script Date: 13-01-2026 16:53:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ValidateUser]
    @Username NVARCHAR(50)
AS
BEGIN
    SELECT UserID, Username, PasswordHash, Role
    FROM Users
    WHERE Username = @Username;
END
GO
USE [master]
GO
